body{
    margin: 0;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    background: #f4f4f4;
}

/*Global*/
.container{
    width: 85%;
    margin: auto;
    overflow: hidden;
}
ul{
    padding:0;
    margin:0;
}
.button_1{
    margin-left: 5px;
    margin-right: 5px;
    height: 27px;
    border: none;
    background: #e8491d;
    padding-left: 20px;
    padding-right: 20px;
    color:#ffffff;
}
.button_1:hover{
    background-color: #f0572d;
}
.dark{
    padding: 10px 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    background-color: #35424a;
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 5px;
    min-height: 40px;
    border-bottom: #e8491d 3px solid;
}
header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
header li{
    float: left;
    display: inline;
    padding : 0 20px;

}
header #branding{
    float:left;
}
header #branding h1{
    margin: 0;
}
header nav{
     float: right;
     margin-top: 10px;
}
header .highlight, header .current a{
    color: #e8491d;   
}
header a:hover{
    color:#ffffff;
    font-weight: bold;
}

/*showcase*/
#showcase{
    margin-block-start: 77px;
    min-height:350px;
    background:url('../img/showcase.png') center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}

/*newsletter*/
#newsletter{
    padding:5px;
    color: #ffffff;
    background-color: #35424a;
}
#newsletter h1{
    margin:5px;
    float: left;
}
#newsletter form{
    margin-top: 8px;
    float: right;
}
#newsletter input[type="email"]{
    padding:4px;
    height: 15px;
    width: 200px;
}

/*boxes*/
#boxes{
    margin-top: 20px;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;          
}
.wrapper > div{
       padding: 1em;
       text-align: center;
}
#boxes .box img{
    height: 100px;
}

/*about main*/
#main #main-col .page-title{
    font-size: 140%;
    font-weight: 900;
}

#main-col{
    margin-top: 30px;
     float: left;
     width: 65%;
}

/*sidebar*/
 #sidebar{
     margin-top: 35px;
    float: right;
    width:30%;
}

/*Services*/
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

aside#sidebar .quote div{
     margin-bottom: 15px;
}

aside#sidebar .quote input,#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

/*Footer*/
footer{
    padding : 2px;
    margin-top: 20px;
    color: #ffffff;
    background-color:#e8491d;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}
.footerabout{
    position: fixed;
    width: 100%;
    bottom: 0;
}

/*media queries*/
@media(max-width:768px){
    header #branding , header nav , header nav li,#newsletter h1, #newsletter form, #main #main-col, aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    #newsletter form{
        margin:6px;
    }
    .wrapper{
        grid-template-columns: 1fr;
    }
    #showcase{
        margin-block-start: 124px;
    }
    #main-col, aside#sidebar{
        margin-top: 55px;
    }
    .footerabout{
        position: static;   
    }
}
@media(max-width:1169px){
    #showcase h1{margin-top: 32px}
    #showcase h1 span{
        display: block;
    }
}

