body{
    margin : 10px;
}

header{
    box-sizing: border-box;
    margin: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media(min-width: 992px){
    .col-lg-4{
        box-sizing: border-box;
        width: 33.33%;
        float: left;
    }}
    
@media(min-width: 768px) and (max-width: 991px){
    .col-lg-6{
        box-sizing: border-box;
        float: left;
        width: 50%;
    }
    
    .col-lg-6:last-child:nth-of-type(odd){
        float:left;
        width :100%;
    }
} 

.Dish_card{
    position: relative;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    margin: 10px;
    background-color: rgb(196, 192, 184);
}

.Dish_card > .Dish_name{ 
    box-sizing: border-box;
    width : 130px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2px;
    position: absolute; 
    right: 0px;
    top: 0px;
    text-align : center ;
    font-weight: bold;
}

.col-lg-4:nth-of-type(4n-3)>.Dish_card>.Dish_name{
    background-color: rgb(36, 86, 196);
}


.col-lg-4:nth-of-type(4n-2)>.Dish_card>.Dish_name{
    background-color: rgb(240, 42, 69);
}

.col-lg-4:nth-of-type(4n-1)>.Dish_card>.Dish_name{
    background-color: rgb(243, 142, 26);
}

.col-lg-4:nth-of-type(4n)>.Dish_card>.Dish_name{
    background-color: rgb(177, 36, 102);
}
.Dish_card > .Dish_description{
    box-sizing: border-box;
    margin: 8px;
    margin-top: 25px;
}



